.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.textarea {
    width: 300px;
    height: 400px;
    resize: vertical;
}

.titleInput {
    width: 250px;
    height: 25px;
    font-size: large;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
}

.formCover {
    background-color: white;
    padding: 10px;
    width: 50%;
    border: 1px solid grey;
    border-radius: 5px;
}

.ul {
    min-height: 70%;
    max-height: 70%;
    overflow-y: auto;
    width: 300px;
    background-color: white;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.li {
    background-color: rgb(243, 243, 243);
    padding-top: 5px;
    padding-left: 3px;
    padding-bottom: 5px;
    padding-right: 3px;
    margin-bottom: 10px;
    border: 1px solid grey
}

.liCard {
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
    gap: 5px;
}

.editBtn {
    border: 0px;
    background-color: yellow;
    height: 30px;
    width: 60px;
}

.editBtn:hover {}